<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card">
        <img class="card-img-top" src="http://localhost:8080/api/news/{{news.newsID}}/image" alt="Blog Image">
        <div class="card-body">
          <h2 class="card-title">{{news.title}}</h2>
          <p class="card-text">{{news.text}}</p>
        </div>
        <div class="card-footer text-muted">
          By <span class="font-weight-bold">{{news.author.name}}</span>
          Published at <span class="font-weight-bold">{{news.creationDate}}</span>
          Valid <span class="font-weight-bold">{{news.validFrom}} to {{news.validTo}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
