<div class="container">
  <ngx-spinner fullScreen="false">
    <p style="font-size: 20px; color: white">Please wait ...</p>
  </ngx-spinner>

  <div class="row justify-content-end">
    <button class="btn btn-lg btn-outline-success" (click)="open(content)" *ngIf="role !== 'ROLE_USER'">+ Add News</button>
  </div>
  <br>
  <div class="row">
    <ng-container *ngFor="let e of newsList">
      <div class="col-md-4 d-flex">
        <div class="blog-entry align-self-stretch">

          <img src="http://localhost:8080/api/news/{{e.newsID}}/image" class="event_image">
          <div class="text p-4 d-block">
            <h3 class="heading mb-4"><p>{{e.title}}</p></h3>
            <p class="time-loc"><i class="fa fa-calendar"></i> Valid: <span style="font-size: 12px"> {{e.validFrom}} to {{e.validTo}}</span></p>
            <p class="time-loc"><i class="fa fa-user-circle"></i> Author: <span class="mr-2"> {{e.author.name}}</span></p>
            <p class="time-loc"><i class="fa fa-calendar"></i> Created: <span class="mr-2"> {{e.creationDate}}</span></p>
            <p class="time-loc"><i class="fa fa-paper-plane"></i> Published:
              <span class="mr-2"> {{e.published == true ? 'Yes' : 'No'}}</span>
              <span class="mr-2" *ngIf="e.published !== true"> <button class="btn btn-xs btn-success" (click)="publish(e.newsID)">Publish</button></span>

            </p>
            <button class="btn-outline-success btn mr-2 mt-2" *ngIf="role !== 'ROLE_USER'" (click)="open(content_edit); getNewsById(e.newsID)">Edit Event</button>
            <button class="btn-outline-danger btn mt-2" *ngIf="role !== 'ROLE_USER'" (click)="delete(e.newsID)">Delete Event</button>
            <button (click)="redirectToReadNewsPage(e.newsID)" class="btn-outline-danger btn mt-2" *ngIf="role === 'ROLE_USER'">Read More...</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create New</h4>
      <button type="button" class="btn btn-outline-danger btn-close" aria-label="Close"
              (click)="modal.dismiss('Cross click')">X
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()" #eventForm="ngForm" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Title:</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="news.name" required>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" id="description" rows="5" name="description" [(ngModel)]="news.description"
                    required></textarea>
        </div>
        <div class="form-group">
          <label for="from">Valid From:</label>
          <input type="date" class="form-control" id="from" name="from" [(ngModel)]="news.from" required>
        </div>
        <div class="form-group">
          <label for="to">Valid To:</label>
          <input type="date" class="form-control" id="to" name="to" [(ngModel)]="news.to" required>
        </div>
        <div class="form-group">
          <label for="image">Image:</label>
          <input type="file" class="form-control" id="image" name="image" (change)="onFileSelected($event)" required>
        </div>
        <div class="form-group">
          <label for="status">Publish Now:</label>
          <select class="form-control" id="status" name="status" [(ngModel)]="news.status" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary float-right" [disabled]="!eventForm.valid">Submit</button>
      </form>
    </div>
  </ng-template>

  <ng-template #content_edit let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title2">Update New</h4>
      <button type="button" class="btn btn-outline-danger btn-close" aria-label="Close"
              (click)="modal.dismiss('Cross click')">X
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onUpdate()" #eventFormUpdate="ngForm" enctype="multipart/form-data">
        <input type="hidden" class="form-control" id="id" name="id" [(ngModel)]="news.newsID">
        <div class="form-group">
          <label for="name">Title:</label>
          <input type="text" class="form-control" id="name_update" name="name" [(ngModel)]="news.name" required>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" id="description_update" rows="5" name="description" [(ngModel)]="news.description"
                    required></textarea>
        </div>
        <div class="form-group">
          <label for="from">Valid From:</label>
          <input type="date" class="form-control" id="from_update" name="from" [(ngModel)]="news.from" required>
        </div>
        <div class="form-group">
          <label for="to">Valid To:</label>
          <input type="date" class="form-control" id="to_update" name="to" [(ngModel)]="news.to" required>
        </div>
        <div class="form-group">
          <label for="image">Image:</label>
          <input type="file" class="form-control" id="image_update" name="image" (change)="onFileSelected($event)" required>
        </div>
        <div class="form-group">
          <label for="status">Publish Now:</label>
          <select class="form-control" id="status_update" name="status" [(ngModel)]="news.status" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary float-right" [disabled]="!eventFormUpdate.valid">Update</button>
      </form>
    </div>
  </ng-template>
</div>
